<div class="col-xs-8">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="title" [(ngModel)]="company.title"/>
  </div>
  <div class="form-group">
    <label>Number Of Persons</label>
    <input type="number" class="form-control" name="numberOfPersons" [(ngModel)]="company.numberOfPersons"/>
  </div>
  <div class="form-group">
    <label>Country</label>
    <select class="form-control" name="company" [(ngModel)]="company.country">
      <option *ngFor="let country of countries" [value]="country">
        {{country}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-default" (click)="addCompany(company.title, company.numberOfPersons, company.country)">Add
    </button>
  </div>
</div>

<div><h3>Companies:</h3>

  <div class="row">
    <div class="form-group col-xs-6 p-2">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" name="searchString" placeholder="Search by name..."
               [(ngModel)]="searchString">
      </div>
    </div>

    <div class="form-group  col-xs-6 p-2">
      <select class="form-control" name="searchCountry" [(ngModel)]="searchCountry">
        <option *ngFor="let serC of countries" [value]="serC">
          {{serC}}
        </option>
      </select>
    </div>
  </div>
</div>

<table class="table border">
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Number of Persons</th>
  </tr>
  <tr *ngFor="let c of companies |
   filter : 'title' : searchString |
   filter : 'country' : searchCountry ; let i = index">
    <td>
      {{c.title}}
    </td>
    <td>
      {{c.country}}
    </td>
    <td>
      {{c.numberOfPersons}}
    </td>
  </tr>
</table>
